{% extends "base.html" %}

{% block content %}
<h1>Добавление фильма</h1>
<form action="" method="post" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    <p>
        {{ form.file.label }}<br>
        {{ form.file(class="form-file-file") }}<br>
        {% for error in form.file.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control") }}
        {% for error in form.year.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.director.label }}<br>
        {{ form.director(class="form-control") }}<br>
        {% for error in form.director.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.genres.label }}<br>
        {{ form.genres(class="form-control", size=10, multiple=True) }}<br>
        {% for error in form.genres.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}