{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2>{{ film }}</h2>
    <p>
        {{ form.rating.label }}<br>
        {{ form.rating(class="form-control") }}
        <output id="value"></output>/10
        <script>
                const value = document.querySelector("#value")
                const input = document.querySelector("#rating")
                value.textContent = input.value
                input.addEventListener("input", (event) => {  value.textContent = event.target.value})
        </script>
        {% for error in form.rating.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <a href="/" class="btn btn-danger">Отмена</a>
    {{message}}
</form>
{% endblock %}